.main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.gikihub {
    font-size: 3rem;
    margin: 4rem;
}

.buscador {
    width: 100%;
    padding: 0 5%;
    display: flex;
    box-sizing: border-box;
}

.input {
    width: 100%;
    padding: 1.2rem 1rem;
    border-radius: 10px 0 0 10px;
    border: none;
    background-color: #FFFFFF22;
    outline: none;
    color: #FFFFFF;
}

.buscar {
    border-radius: 0 10px 10px 0;
    border: none;
    background-color: #FFFFFF22;
    outline: none;
    color: #FFFFFF;
    padding: 0 1rem;
    cursor: pointer;
}

.buscar:hover {
    background-color: #FFFFFF33;
}

.projeto {
    width: 100%;
    padding: 1rem 5%;
    box-sizing: border-box;
}

.titulo_projeto {
    font-size: 2rem;
}